<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.curiosidadesenclinica.rondasexta" version="1.0.0"
 xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
 <name>Ronda Setorial</name>
 <description>Aplicativo Ronda Setorial de Sexta</description>
 <content src="index.html" />
 <access origin="*" />
 <allow-intent href="http://*/*" />
 <allow-intent href="https://*/*" />
 <preference name="AndroidXEnabled" value="true" />
 <preference name="android-targetSdkVersion" value="36" />
 <preference name="android-compileSdkVersion" value="36" />
 <icon src="resources/icon.png" />
 <platform name="android">
   <icon src="resources/icon.png" />
   <preference name="AndroidWindowSplashScreenBackground" value="#0B63CE" />
   <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/icon.png" />
 </platform>
</widget>
